body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
}
main {
  /* align-content: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #333;
}

section {
  margin-bottom: 20px;
}

ul {
  padding-left: 20px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  flex-basis: calc(33.333% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 5px;
}

.feature-link {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 3px;
}
